<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>按期还款</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/example.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui.css"/>
</head>
<body>
    <div class="weui-cell" style="background-color:#FFFFFF">
                <div class="weui-cell__bd">
                    <p style="font-size:15px">返回</p>
                </div>
                <div class="weui-cell__ft" style="margin-right:42%">按期还款</div>
    </div>
    <div style="border-top: 1px solid #D9D9D9;text-align:center;border-bottom: 1px solid #D9D9D9;background-color:#FFFFFF">
       <p style="font-size:17px;padding-top:10px;color:orange">还款自动还款</p>
       <p style="font-size:14px;padding-top:10px;color:orange">请先确保余额宝资金充足</p>
       <p style="font-size:10px">共七笔借款未还清</p>
       <p style="text-align:left;padding-left:14px;font-size:14px;color:#DEDEDE;padding-bottom:10px">ad哈打卡打卡活动卡电话空间打开的骄傲的骄傲的骄傲打到几点肯德基安康的骄傲打卡机大大</p>         
                    
                
    </div>
    <div class="weui-cells">

            <a class="weui-cell weui-cell_access" href="javascript:;" style="font-size:15px">
                <div class="weui-cell__hd"></div>
                <div class="weui-cell__bd">
                    <p>按期还款</p>
                </div>
                <div class="weui-cell__ft">说明文字</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;" style="font-size:15px">
                <div class="weui-cell__hd"></div>
                <div class="weui-cell__bd">
                    <p>提前还款</p>
                </div>
                <div class="weui-cell__ft">说明文字</div>
            </a>
        </div>
        
    <script src="__JS__/jquery.min.js"></script>

</body>
</html>