<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>新建项目</title>
    <link rel="stylesheet" href="__CSS__/addorder.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/tips.css"/>
</head>
<body>
    <div class="xinjian">
        <p>新建项目</p>
    </div>
    <div class="shuru">
        <textarea id="shuru"></textarea>
        <p>*以地址作为项目的唯一名称，仅创建者后期可以修改</p>
    </div>
    <div class="queren" onclick="confirm()"><a>确认</a></div>
    <!--弹出提示信息-->
    <div class="tips">
        <a></a>
    </div>

    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/func.js"></script>
    <script src="__JS__/addorder.js"></script>
</body>
</html>