<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>项目详情</title>
    <link rel="stylesheet" href="__CSS__/item_manage.css" />
</head>
<body>
    <ul class="kinerNav">
        <li class="active" id="xinxi">基本信息</li>
        <li id="jindu">项目进度</li>
        <li id="hetong">合同款项</li>
        <li id="chengyuan">项目成员</li>
        <li id="liuyan">留言板</li>
    </ul>
    <div class="main">
        <div class="dizhi">
            <span class="dz">项目名称</span>
            <span class="sj">2017.09.12 21.14 未设置姓名创建</span>

                <!--<img src="__IMG__/arrow.png">-->
            <input type="text" id="name" placeholder="项目名称">

        </div>
        <div class="mianji">
            <span>装修面积</span>
            <input type="text" id="mianji" placeholder="请输入装修面积">
        </div>
        <div class="yezhu">
            <span class="yz">业主信息</span>
            <span class="xj">新建业主</span>
            <span class="bj">编辑</span>
            <!--<input type="text" id="yezhu" placeholder="业主名称">-->
        </div>
        <div class="qudao">
            <span>来源渠道</span>
            <input type="text" id="qudao" placeholder="请设置来源渠道">
        </div>
        <div class="shijian">
            <span class="qy">签约时间</span>
            <span class="cs">重设为未签约</span>
            <input type="text" id="" placeholder="请设置签约时间">
        </div>
        <div class="pinpai">
            <span class="jc">所用建材</span>
            <span class="pp">更新品牌</span>
        </div>
    </div>

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/item_manage.js"></script>
</body>
</html>