<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>店铺管理</title>
    <link rel="stylesheet" href="__CSS__/shop_manage.css" />
</head>
<body>
<div class="xiangmu">项目管理</div>
<div class="yuangong">员工管理</div>
<div class="tianjia" onclick="jump('?s=index/user/adduser')">添加员工</div>
<div class="tianjia" onclick="jump('?s=index/protocol/checkall')">分期审核</div>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/func.js"></script>
</body>
</html>