<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>添加产品</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/example.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui.css"/>
    <style>
        #tianjia:before{
            border-top: 0px
        }
    </style>
</head>
<body>
 <form action="?s=index/wordskill/insertProdetail" id="form" method="post" onsubmit=" return confirm()" enctype="multipart/form-data">
<div class="weui-cells__title">产品详情</div>
<div class="weui-cells weui-cells_form" style="margin-bottom:5px">
    <div class="weui-cell">
        <div class="weui-cell__hd"><input name="pro_name" id="pro_name" class="weui-input" style="width:60%;font-size:15px" type="text"  placeholder="请输入种类名称"></div>
        <div class="weui-cell__bd">
            <input name="pro_price" id="pro_price" class="weui-input" style="width:40%;font-size:15px;" type="number" pattern="[0-9]*" placeholder="金额">元 / 套
        </div>
    </div>


</div>

     <div class="weui-gallery" id="gallery">
         <span class="weui-gallery__img" id="galleryImg"></span>
         <div class="weui-gallery__opr">
             <a href="javascript:" rel="external nofollow" class="weui-gallery__del">
                 <i class="weui-icon-delete weui-icon_gallery-delete"></i>
             </a>
         </div>
     </div>
     <div class="weui-cells weui-cells_form">
         <div class="weui-cell">
             <div class="weui-cell__bd">
                 <div class="weui-uploader">
                     <div class="weui-uploader__hd">
                         <p class="weui-uploader__title">图片上传</p>
                     </div>
                     <div class="weui-uploader__bd">
                         <ul class="weui-uploader__files" id="uploaderFiles">
                         </ul>
                         <div class="weui-uploader__input-box">
                             <input id="uploaderInput" name="pic[]" class="weui-uploader__input" type="file" accept="image/*" multiple/>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
   <!--  <div class="weui-cells weui-cells_form" id=uploaderCustom>
         <div class=weui-cell> <div class=weui-cell__bd>
             <div class=weui-uploader> <div class=weui-uploader__hd>
                 <p class=weui-uploader__title>图片上传</p>
             </div>
                 <div class=weui-uploader__bd>
                     <ul class=weui-uploader__files id=uploaderCustomFiles></ul>
                     <div class=weui-uploader__input-box>
                         <input id=uploaderCustomInput class=weui-uploader__input type=file accept=image/* multiple="">
                     </div>
                 </div>
             </div>
         </div>
         </div>
     </div>-->

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea name="pro_special" id="pro_special" class="weui-textarea" placeholder="请输入该种类型特性" rows="3"></textarea>
        </div>
    </div>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea name="pro_salepoint" id="pro_salepoint" class="weui-textarea" placeholder="请输入该种类型卖点" rows="3"></textarea>
        </div>
    </div>
</div>

<input type="hidden" name="pid" id="pid" value="">
 <input type="hidden"  id="delindex"  name = "del" value="">
<button style="margin-top:20px" class="weui-btn weui-btn_primary" id="tijiao" onclick="confirm()">提交</button>
<!-- </form> -->
<!-- 提示 -->
<div class="js_dialog" id="iosDialog2" style="opacity: 1;display:none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd" id="dia2"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" onclick="know()">知道了</a>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/jquery-weui.js"></script>
<!--<script type="text/javascript" src="__JS__/example.js"></script>-->
<script type="text/javascript" src="__JS__/func.js"></script>

<script type="text/javascript">


   // mui.init();
    var pid = getQueryString('pid');
    $("#pid").val(pid);
    $(function() {
        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
                $gallery = $("#gallery"),
                $galleryImg = $("#galleryImg"),
                $uploaderInput = $("#uploaderInput"),
                $uploaderFiles = $("#uploaderFiles");
        $uploaderInput.on("change", function (e) {
            var src, url = window.URL || window.webkitURL || window.mozURL,
                    files = e.target.files;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];
                if (url) {
                    src = url.createObjectURL(file);
                } else {
                    src = e.target.result;
                }
                $uploaderFiles.append($(tmpl.replace('#url#', src)));


            }
        });


        var index; //第几张图片
        $uploaderFiles.on("click", "li", function() {
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);

        });
        $gallery.on("click", function() {
            $gallery.fadeOut(100);
        });

        //删除图片 删除图片的代码也贴出来。
       $(".weui-gallery__del").click(function(e) { //这部分刚才放错地方了，放到$(function(){})外面去了

            $uploaderFiles.find("li").eq(index).remove();
            //$("#gallery").children('span').attr('style',' ');
           // console.log(typeof ($uploaderInput.val()));
            $('.weui-gallery span').html('');





         });


         });

        /* 图片手动上传
        var uploadCustomFileList = [];


        // 这里是简单的调用，其余api请参考文档
        _weui2.default.uploader('#uploaderCustom', {
            url: '?s=index/wordskill/insertProdetail',
            auto: false,
            onQueued: function onQueued() {
                uploadCustomFileList.push(this);
            }
        });

        // 手动上传按钮
        document.getElementById("tijiao").addEventListener('click', function () {
            uploadCustomFileList.forEach(function (file) {
                file.upload();
            });
        });

        // 缩略图预览
        document.querySelector('#uploaderCustomFiles').addEventListener('click', function (e) {
            var target = e.target;

            while (!target.classList.contains('weui-uploader__file') && target) {
                target = target.parentNode;
            }
            if (!target) return;

            var url = target.getAttribute('style') || '';
            var id = target.getAttribute('data-id');

            if (url) {
                url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
            }
            var gallery = _weui2.default.gallery(url, {
                onDelete: function onDelete() {
                    _weui2.default.confirm('确定删除该图片？', function () {
                        var index;
                        for (var i = 0, len = uploadCustomFileList.length; i < len; ++i) {
                            var file = uploadCustomFileList[i];
                            if (file.id == id) {
                                index = i;
                                break;
                            }
                        }
                        if (index !== undefined) uploadCustomFileList.splice(index, 1);

                        target.remove();
                        gallery.hide();
                    });
                }
            });
        });





    });*/
    function confirm(){
        /*console.log(typeof ($("#delindex").val()));
        return false;*/
        var name=$('#pro_name').val();
        var sam=$('#pro_price').val();
        var special=$('#pro_special').val();
        var salepoint=$('#pro_salepoint').val();
        $('#uploaderFiles').find('li').each(function(){
            console.log($(this).attr('style'));//图片url

        })

        if(name==''){
            $('#dia2').html('种类不能为空');
            $('#iosDialog2').show();
            return false;
        }

    }
    function know(){
        $('#iosDialog2').hide();
    }
</script>
