<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>话术模板</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/example.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/weui.css"/>
</head>
<body>
<a href="?s=index/wordskill/chanpinhs&zid=1" class="weui-btn weui-btn_primary" style="margin-top: 30%;width: 70%;">户型模板</a>
<a href="?s=index/wordskill/chanpinhs&zid=2" class="weui-btn weui-btn_primary" style="margin-top: 20%;width: 70%;">产品及话术</a>
<a href="?s=index/wordskill/chanpinhs&zid=3" class="weui-btn weui-btn_primary" style="margin-top: 20%;width: 70%;">工装类</a>

</body>
</html>